body {
  background-color: #f5f5f5;
}
.mine {
  font-size: 12px;
}
.gap {
  margin-bottom: 8px;
}
.mine-head {
  background-color: #fff;
  margin-bottom: 8px;
}
.money {
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-around;
}
.money .order {
  width: 50%;
}
