.mine {
  font-size: 12px;
  color: #333;
}
.mine .mine-title {
  position: fixed;
}
.mine .van-nav-bar .van-icon {
  color: #333;
}
.mine .van-nav-bar__text {
  color: #333;
}
.mine .gap {
  margin-bottom: 8px;
}
.mine .mine-head {
  background-color: #fff;
  margin-bottom: 8px;
}
.mine .money {
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: space-around;
}
.mine .money .order {
  width: 50%;
  display: flex;
}
.mine .money .order .order-left {
  width: 50%;
  height: 60px;
  line-height: 30px;
}
.mine .money .order .order-right {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 15px;
}
.mine .money .purse {
  position: relative;
  left: 10px;
  display: flex;
  margin-left: -100px;
}
.mine .money .purse .purse-left {
  height: 60px;
  line-height: 30px;
  margin-left: -2px;
}
.mine .money .purse .purse-right {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 25px;
}
.mine .money .purse .purse-right img {
  position: relative;
  left: -5px;
}
.mine .money .money-line {
  height: 50px;
  border-left: 1px #dedede solid;
  position: relative;
  top: 6px;
  left: -70px;
}
.mine .help {
  margin-bottom: 50px;
}
.mine .member {
  display: inline;
  text-align: center;
  height: 23px;
  line-height: 23px;
  border-radius: 10px;
  background: url(../../slices/mineslices/jux.png);
  color: #fff;
  font-weight: bold;
  width: 73px;
}
.mine .member .member-center {
  display: inline-block;
  position: relative;
  top: -6px;
}
.mine .van-image {
  margin-bottom: 8px;
}
.mine .xcgl {
  transform: scale(0.3);
}
.mine .xcgl2 {
  position: relative;
  top: -20px;
}
.mine .spansize {
  font-size: 8px;
  color: #777 !important;
}
.mine .headimg {
  width: 40px;
}
.mine .minetitle {
  font-size: 14px;
  font-weight: 600;
}
