.note-top {
  width: 100%;
  height: 170px;
}
.note-bg {
  background: url(../../slices/noteslices/top-bg.png) no-repeat;
  background-size: 100%;
}
.note-back {
  z-index: 100;
  position: relative;
  top: -30px;
}
.note-portrait {
  width: 21%;
  position: relative;
  top: 90px;
  left: 1px;
}
.fans {
  background-color: #fff;
  width: 60%;
  height: 30px;
  font-size: 12px;
  position: relative;
  left: 120px;
  top: 50px;
  z-index: 100;
  color: #A7A7A7;
}
.fans li {
  float: left;
  margin-right: 5px;
}
.mine-note {
  width: 100%;
  position: relative;
  top: 50px;
}
.mine-note .van-cell {
  background-color: rgba(255, 255, 255, 0.1);
  color: #A7A7A7;
}
.small-portail {
  margin-top: 10px ;
  margin-left: 18px;
  width: 40px;
  height: 40px;
}
.like {
  margin-top: 5px;
}
.likelist {
  font-size: 12px;
  display: flex;
  justify-content: right;
}
.likelist li {
  margin-right: 20px;
}
.likelist li img {
  vertical-align: bottom;
}
.likelist li span {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.mytotal {
  width: 100%;
  background-color: #fff;
}
.note-content {
  display: flex;
  margin-bottom: 10px;
  padding-top: 20px;
}
.note-right {
  padding-left: 5px;
  text-indent: 10px;
}
.note-bottom {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #A7A7A7;
  font-size: 16px;
}
.notes {
  margin-bottom: 80px;
}
