.rregister {
  background-color: #fff;
  height: 667px;
}
.rregister .register {
  width: 80%;
  margin: auto;
}
.rregister .cor {
  width: 185px;
}
.rregister .serve {
  font-size: 12px;
  float: right;
  background: #fff;
  color: #333;
  margin-top: 20px;
}
