.total{
  width: 100%;
  background-color: #fff;
  height: 35px;
}
.total-tilte{
  margin-left: 10px;
  display: inline-block;
  border-bottom:4px solid skyblue ;
  padding-bottom: 6px;
  font-size: 16px;
  color: skyblue;
  font-weight: 600;
}
.mynote-top{
  font-size: 14px;
  margin-right: 10px;
}
.pro{
  width: 40px;
  margin:10px 0 0 10px;
}
.pro-title{
  line-height: 20px;
  height: 20px;
  position: relative;
  top: -10px;
  left: 5px;
}
.mytotal{
  border-bottom: 1px solid #a7a7a7;
  margin-bottom: 10px;
}
.appraise{
  margin: 10px;
  width: 90%;
  
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
   img{
    vertical-align: bottom;
   }
    span{
      display: inline-block;
      height: 20px;
      line-height: 20px;
      margin-right: 10px;
    }
  
}